* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a:link {
  text-decoration: none;
}

body {
  max-width: 100%;
  width: 100%;
  margin: auto;
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  margin-right: 20px;
  line-height: 20px;
}

.container img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.bg {
  border-top: 6px solid #D07F45;
  border-bottom: 6px solid #B16D9E;
  background-color: #F1E9F0;
}

.bg .navbar-brand img {
  padding-right: 20px;
  width: 15%;
  height: 15%;
}

.bg li {
  padding-left: 50px;
  text-align: center;
}

.bg-light {
  border-top: 6px solid #8F5BFE;
}

.card {
  border: 0.5px solid rgba(128, 128, 128, 0.137);
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: justify;
  list-style: none;
}

.card h2 {
  background-color: #8F5BFE;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.card img {
  width: 14em;
  height: 150px;
  border-radius: 5px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 100%;
     object-position: center 100%;
}

.card button {
  background-color: #B16D9E;
  margin: auto;
  margin-left: 20px;
  border-radius: 20px;
  outline: none !important;
  color: black;
  padding: 5px;
  width: 40%;
}

.card button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.cartdetails img {
  width: 70px;
}

.shopping_cart {
  min-height: 900px;
}

.shopping_cart #cart h3 {
  margin-top: 100px;
  margin-bottom: 50px;
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}

.shopping_cart #cart .contactform {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 20px;
  padding: auto;
}

.shopping_cart #cart .contactform span {
  color: red;
}

.shopping_cart #cart .contactform .validate, .shopping_cart #cart .contactform .reset {
  margin-top: 20px;
  padding: 8px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #B16D9E;
}

.shopping_cart #cart .cancel {
  margin-left: 40px;
  padding: 8px;
  border-radius: 20px;
  background-color: #B16D9E;
}

.shopping_cart #cart strong {
  margin-left: 10px;
  position: right;
  font-size: 1.5em;
}

@media screen and (min-width: 1200px) {
  #cameras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #cameras .card {
    width: 20%;
    margin: 5px;
  }
  #cameras .card a {
    width: 100%;
    background-color: #B16D9E;
    border-radius: 20px;
    outline: none !important;
    border: none;
    color: black;
    padding: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 100%;
  }
}

#details {
  width: 75%;
  margin: 20px auto 20px auto;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 25px 0px #000000;
          box-shadow: 0px 0px 25px 0px #000000;
  padding: 20px;
}

#details h3, #details p {
  margin-left: 10px;
}

#details img {
  width: 60%;
  height: 100%;
  margin-left: -10px;
  margin: 0 auto;
}

#confirmation {
  height: 900px;
  margin: auto;
  padding: auto;
}

.confirmorder {
  background: -webkit-gradient(linear, right bottom, left top, from(#8F5BFE), to(#D07F45));
  background: linear-gradient(to top left, #8F5BFE, #D07F45);
  margin: 50px 50px 50px 50px;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-shadow: 10px 10px grey;
          box-shadow: 10px 10px grey;
}

.confirmorder h2 {
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}
/*# sourceMappingURL=style.css.map */